<div class="row gx-5 gx-xl-10 mb-xl-10">
    <!--begin::Col-->
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-10">
        <!--begin::Card widget 4-->
        <div class="card card-flush h-md-50 mb-5 mb-xl-10">
            <!--begin::Header-->
            <div class="card-header pt-5">
                <!--begin::Title-->
                <div class="card-title d-flex flex-column">
                    <!--begin::Info-->
                    <div class="d-flex align-items-center">
                        <img src="~/mecatronic/img/statistics.png" style="width: 115px;position: relative;left: 38px;top: 9px;"/>
                    </div>
                    <a asp-controller="Reports" asp-action="FilterBooks" style="position: relative;left: 67px;top: 27px;font-size: 19px;font-weight: bold;">
                       Books
                   </a>
                </div>
                <!--end::Title-->
            </div>
        </div>
        <!--end::Card widget 4-->
        <!--begin::Card widget 5-->
        <div class="card card-flush h-md-50 mb-xl-10" style=" position: relative; left: 569px; top: -237px;">
            <!--begin::Header-->
            <div class="card-header pt-5">
                <!--begin::Title-->
                <div class="card-title d-flex flex-column">
                    <!--begin::Info-->
                    <div class="d-flex align-items-center">
                        <img src="~/mecatronic/img/statistics.png" style="width: 115px;position: relative;left: 38px;top: 9px;" />
                    </div>
                    <a asp-controller="Reports" asp-action="DelayInRentals" style="position: relative;left: 25px;top: 24px;font-size: 19px;font-weight: bold;">
                        Delayed Rentals
                    </a>
                </div>
                <!--end::Title-->
            </div>
            <!--end::Header-->
        </div>
        <!--end::Card widget 5-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-10">
        <!--begin::Card widget 6-->
        <div class="card card-flush h-md-50 mb-xl-10">
            <!--begin::Header-->
            <div class="card-header pt-5">
                <!--begin::Title-->
                <div class="card-title d-flex flex-column">
                    <!--begin::Info-->
                    <div class="d-flex align-items-center">
                        <img src="~/mecatronic/img/statistics.png" style="width: 115px;position: relative;left: 38px;top: 9px;" />
                    </div>
                    <a asp-controller="Reports" asp-action="Rentals" style="position: relative;left: 67px;top: 27px;font-size: 19px;font-weight: bold;">
                        Rentals
                    </a>
                </div>
                <!--end::Title-->
            </div>
            <!--end::Header-->
        </div>
        <!--end::Card widget 6-->

    </div>
    <!--end::Col-->

</div>