@model ResetPassword

@{
    ViewData["Title"] = "Resset Password";
}

<div class="card shadow-sm ">
    <div class="card-header">

        <span style="padding-left: 10px; padding-top: 20px;" class="menu-title">
            <i class="bi bi-people-fill fs-1 text-primary"></i>
            <span style="padding-left: 5px;font-size: 18px;" class="mt-10">Resset Password</span>
        </span>
    </div>
    <div class="card-body col-6">
        <form method="post" asp-controller="Users" asp-action="ResetPassword" id="RessetForm">
                    <div class="mb-3 col">
                        <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="text" class="form-control form-control-solid " placeholder="Password">
                <div><span class="text-danger" asp-validation-for="Password"></span></div>
                    </div>
                    <div class="mb-3 col">
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" type="text" class="form-control form-control-solid " placeholder="ConfirmPassword">
                <div><span class="text-danger" asp-validation-for="ConfirmPassword"></span></div>
                    </div>  
        </form>

    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary" form="RessetForm"><i class="bi bi-check2-all fs-3"></i>Save</button>
        <a class="btn btn-light text-primary m-3" asp-controller="Users" asp-action="Index">Cancel</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

