@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="text-center">
    <img src="~/mecatronic/img/401 error unauthorized-pana.png" class="w-500px h-500px" />
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
