@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<div class="d-flex flex-column flex-root">
	<!--begin::Page bg image-->
	<style>
		body {
			background-image: url('/assets/images/bg10.jpeg');
		}

		[data-theme="dark"] body {
			background-image: url('/assets/images/bg10-dark.jpeg');
		}
	</style>
	<!--end::Page bg image-->
	<!--begin::Authentication - Sign-in -->
	<div class="d-flex flex-column flex-lg-row flex-column-fluid">
		<!--begin::Aside-->
		<div class="d-flex flex-lg-row-fluid">
			<!--begin::Content-->
			<div class="d-flex flex-column flex-center pb-0 pb-lg-10 p-10 w-100">
                <!--begin::Image-->
				<img class="theme-light-show mx-auto mw-100 w-150px w-lg-500px mb-10" src="~/mecatronic/img/reset password-bro.png" alt="" />
				<!--end::Image-->
				<!--begin::Title-->
				<h1 class=" fs-2qx fw-bold text-center mb-7" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:burlywood">BookHaven, by Mohmed Shawky</h1>
				<h1 class=" fs-2qx fw-bold text-center mb-7" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:burlywood">Book & Coffee</h1>
				<!--end::Title-->

			</div>
			<!--end::Content-->
		</div>
		<!--begin::Aside-->
		<!--begin::Body-->
		<div class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end p-12">
			<!--begin::Wrapper-->
			<div class="bg-body d-flex flex-center rounded-4 w-md-600px p-10">
				<!--begin::Content-->
				<div class="w-md-400px">
					<!--begin::Form-->
					<form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" method="post">
						<input asp-for="Input.Code" type="hidden" />
						<!--begin::Heading-->
						<div class="text-center mb-11">
							<img src="~/Mecatronic/Img/BooHaven.png" class="w-250px mb-10" />
							<!--begin::Title-->
							<h1 class="text-dark fw-bolder mb-3">Reset Your Password</h1>
							<h4>Have you already reset passowrd <a asp-page="./Login">Sign In</a></h4>
							<!--end::Title-->
						</div>
						<!--begin::Heading-->
						<!--begin::Input group=-->
						<div class="fv-row mb-3">
							<!--begin::Email-->
							<label asp-for="Input.Email" class="form-label"></label>
							<input type="text" placeholder="Email" asp-for="Input.Email" autocomplete="off" class="form-control bg-transparent" />
							<span asp-validation-for="Input.Email" class="text-danger"></span>
							<!--end::Email-->
						</div>
						<!--end::Input group=-->
						<div class="fv-row mb-3">
							<!--begin::Password-->
							<label asp-for="Input.Password" class="form-label"></label>
							<input type="password" placeholder="Password" asp-for="Input.Password" autocomplete="off" class="form-control bg-transparent" />
							<span asp-validation-for="Input.Password" class="text-danger"></span>
							<!--end::Password-->
						</div>
						<div class="fv-row mb-3">
							<!--begin::Password-->
							<label asp-for="Input.ConfirmPassword" class="form-label"></label>
							<input type="password" placeholder="Confirm Password" asp-for="Input.ConfirmPassword" autocomplete="off" class="form-control bg-transparent" />
							<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
							<!--end::Password-->
						</div>
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<!--end::Input group=-->
						<!--begin::Submit button-->
						<div class="d-grid mb-10">
							<button type="submit" id="kt_sign_in_submit" class="btn btn-primary">
								<!--begin::Indicator label-->
								<span class="indicator-label">Reset</span>
								<!--end::Indicator label-->
							</button>
						</div>
						<!--end::Submit button-->
					</form>
					<!--end::Form-->
				</div>
				<!--end::Content-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Body-->
	</div>
	<!--end::Authentication - Sign-in-->
</div>
@* <h1>@ViewData["Title"]</h1>
<h2>Reset your password.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>
 *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
